# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.api-tester-data/
credentials.json
google-token.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

google-web-credentials.json

credentials.json.json

# Electron build output
release-agent/
release-agent-test/


# Electron desktop release output
release/*
!release/*.exe